@model List<FrostFlow.Entities.Cliente>
@{
    ViewData["Title"] = "ListadoClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Clientes Registrados</h4>
                <a href="@Url.Action("RegistrarCliente", "Cliente")" class="btn btn-primary w-auto">
                    <span class="float-right"></span> Añadir un nuevo cliente </a>
            </div>

            @if (ViewBag.MsjPantalla != null)
            {
                <br>
                <div class="alert alert-warning" role="alert" style="text-align:center">
                    @ViewBag.MsjPantalla
                </div>
            }

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tablaClientes" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Identificación</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.id_cliente</td>
                                    <td>@item.nombre</td>
                                    <td>@item.identificacion</td>
                                    <td>@item.direccion</td>
                                    <td>@item.telefono</td>

                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("ModificarCliente","Cliente", new { id = item.id_cliente })">
                                            <i class="fa fa-pencil-square-o faa-tada animated"></i>
                                        </a>
                                        <a href="#" onclick="eliminarCliente(@item.id_cliente)" title="Eliminar Cliente"><i style="color: darkred;padding-left: 10px;margin-left:2%;" class="fa fa-trash fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Identificación</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--**********************************
    Scripts
***********************************-->

<script src="./vendor/global/global.min.js"></script>
<script src="./js/quixnav-init.js"></script>
<script src="./js/custom.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function eliminarCliente(idCliente) {
        // Mostrar el cuadro de diálogo de confirmación
        Swal.fire({
            title: '¿Está seguro?',
            text: 'Esta acción eliminará al cliente. ¿Desea continuar?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirmar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            // Si el usuario hace clic en Confirmar, realizar la llamada AJAX para eliminar al cliente
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Cliente/EliminarCliente',
                    type: 'GET', // O el método HTTP que necesites
                    data: { ID_Cliente: idCliente },
                    success: function (response) {
                        window.location.href = '/Cliente/ListadoClientes';
                    },
                    error: function (xhr, status, error) {
                        // Mostrar el mensaje de error del ViewBag en un Sweet Alert
                        Swal.fire({
                            title: 'Error',
                            text: 'No se ha podido eliminar el cliente por compras asociadas',
                            icon: 'error',
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                });
            }
        });
    }
</script>
