@model List<FrostFlow.Entities.Usuario>
@{
    ViewData["Title"] = "TecnicoListado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control {
        font-size: 20px;
    }

    .header-left .search_bar .search_icon i {
        font-size: 25px;
        color: #454545;
    }

    .stat-widget-one .stat-text {
        font-size: 20px;
        color: #868e96;
    }

    .header-right .nav-item .nav-link {
        color: #464a53;
        font-size: 28px;
    }

    .stat-widget-one .stat-digit {
        font-size: 25px;
        color: #373757;
    }

    .nav-label {
        font-size: 18px;
    }

    .quixnav .metismenu > li > a {
        font-size: 18px;
        color: #BDBDB9;
    }

    .card {
        margin-bottom: 1.875rem;
        background-color: #fff;
        transition: all .5s ease-in-out;
        position: relative;
        border: 0px solid transparent;
        border-radius: 0.25rem;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        font-family: 'Roboto', sans-serif;
    }

    .card-title {
        font-size: 20px;
        font-weight: 500;
        color: #454545;
        text-transform: capitalize;
        letter-spacing: 0.05em;
    }

    .btn-primary {
        color: #fff;
        background-color: #593bdb;
        border-color: #593bdb;
        padding: 14px 11px;
        font-size: 18px;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: #333;
        font-size: 15px;
    }

    table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center right;
        font-size: 17px;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
        border-top-color:;
        border-right-color:;
        border-bottom-color:;
        border-left-color:;
        font-size: 17px;
        color: #454545;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
        font-size: 17px;
        color: #454545;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 10px 25px;
    }

    .btn-primary1 {
        color: #fff;
        background-color: #593bdb;
        border-color: #593bdb;
        padding: 14px 11px;
        font-size: 15px;
    }

    table#example {
        padding: 3rem 0 3rem 0;
    }

    .quixnav .metismenu > li.mm-active ul {
        background-color: rgba(88, 115, 254, 0.04);
        font-size: 16px;
    }

    .footer .copyright {
        background-color: ##868e96; /* Color de fondo del pie de página */
        font-size: 20px;
        color: #373757;
        text-align: center;
        padding: 0.9375rem;
        margin-top: auto;
        font-size: 17px;
        color: #333;
    }
</style>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Listado de Técnicos</h4>
            <a href="@Url.Action("TecnicoRegistro", "Tecnicos")" class="btn btn-primary w-auto">
                <span class="float-right"></span> Añadir nuevo técnico </a>
        </div>
        <div class="card-body">
            @if (ViewBag.MsjPantalla != null)
            {
                <br>
                <div class="alert alert-warning" role="alert" style="text-align:center">
                    @ViewBag.MsjPantalla
                </div>
            }
            <div class="table-responsive">
                <table id="example" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)    
                        {
                            <tr>
                                <td>@item.id_Usuario</td>
                                <td>@item.nombre</td>
                                <td>@item.correo</td>
                                <td>@item.estado</td>
                                <td>
                                    <a class="btn btn-primary1" href="@Url.Action("ActualizarTecnico","Tecnicos", new { id = item.id_Usuario })">
                                        <i class="fa fa-pencil-square-o faa-tada animated"></i>
                                    </a>
                                    <button type="button" class="btn btn-primary1 passingID" data-toggle="modal" data-target="#exampleModal"
                                            data-id="@item.id_Usuario" data-name="@item.nombre">
                                        <i class="fa fa-trash-o faa-pulse animated"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Scripts
***********************************-->

<script src="./vendor/global/global.min.js"></script>
<script src="./js/quixnav-init.js"></script>
<script src="./js/custom.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        var table = new DataTable('#example', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            },
            "bExample": false,
            "bLengthChange": false,
            columnDefs: [{ type: 'string', targets: [0, 1, 2, 3, 4] }]
        });
    });

    $(".passingID").click(function () {
        $("#id_Usuario").val($(this).attr('data-id'));
        $("#Question").text("¿Desea eliminar el Técnico " + $(this).attr('data-name') + "?");
    });

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EliminarTecnico", "Tecnicos", FormMethod.Post))
            {
                <div class="modal-body">
                    <input type="hidden" id="id_Usuario" name="id_Usuario" value="">
                    <p id="Question" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Procesar</button>
                </div>
            }
        </div>
    </div>
</div>
